net "dir(2)" LOC=V10 | IOSTANDARD=LVCMOS33;
NET "dir(1)" LOC=U11 | IOSTANDARD=LVCMOS33;
NET "dir(0)" LOC=U12 | IOSTANDARD=LVCMOS33;
NET "set_min_max(3)" LOC=H6 | IOSTANDARD=LVCMOS33;
NET "set_min_max(2)" LOC=T13 | IOSTANDARD=LVCMOS33;
NET "set_min_max(1)" LOC=R16 | IOSTANDARD=LVCMOS33;
NET "set_min_max(0)" LOC=U8 | IOSTANDARD=LVCMOS33;
Net "set_specific(4)" LOC=T8 | IOSTANDARD=LVCMOS33;
Net "set_specific(3)" LOC=R13 | IOSTANDARD=LVCMOS33;
Net "set_specific(2)" LOC=U18 | IOSTANDARD=LVCMOS33;
Net "set_specific(1)" LOC=T18 | IOSTANDARD=LVCMOS33;
Net "set_specific(0)" LOC=R17 | IOSTANDARD=LVCMOS33;
Net "rst" LOC=M18 | IOSTANDARD=LVCMOS33;
NET "led_heat" LOC=H17 | IOSTANDARD=LVCMOS33;
NET "led_rst" LOC=J13 | IOSTANDARD=LVCMOS33;
NET "clk"   LOC = "E3"	| IOSTANDARD = "LVCMOS33";
NET "clk" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100 MHz HIGH 50%; 



NET "cat(0)" loc=L18 | IOSTANDARD=LVCMOS33;
NET "cat(1)" loc=T11 | IOSTANDARD=LVCMOS33;
NET "cat(2)" loc=P15 | IOSTANDARD=LVCMOS33;
NET "cat(3)" loc=K13 | IOSTANDARD=LVCMOS33;
NET "cat(4)" loc=K16 | IOSTANDARD=LVCMOS33;
NET "cat(5)" loc=R10 | IOSTANDARD=LVCMOS33;
NET "cat(6)" loc=T10 | IOSTANDARD=LVCMOS33;


NET "an(7)"          LOC=J17 | IOSTANDARD=LVCMOS33; #IO_L23P_T3_FOE_B_15
NET "an(6)"          LOC=J18 | IOSTANDARD=LVCMOS33; #IO_L23N_T3_FWE_B_15
NET "an(5)"          LOC=T9 | IOSTANDARD=LVCMOS33; #IO_L24P_T3_A01_D17_14
NET "an(4)"          LOC=J14 | IOSTANDARD=LVCMOS33; #IO_L19P_T3_A22_15
NET "an(3)"          LOC=P14 | IOSTANDARD=LVCMOS33; #IO_L8N_T1_D12_14
NET "an(2)"          LOC=T14 | IOSTANDARD=LVCMOS33; #IO_L14P_T2_SRCC_14
NET "an(1)"          LOC=K2 | IOSTANDARD=LVCMOS33; #IO_L23P_T3_35
NET "an(0)"          LOC=U13 | IOSTANDARD=LVCMOS33; #IO_L23N_T3_A02_D18_14